/* 设置全局变量 */
:root {
  --body-color: #E4E9F7;
  --shell-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --item-primary-color: #ecebff50;
  --item-text-color: #333;
  --item-border-color: #d6d9f282;
  --shadow-color: rgb(225, 225, 225);
  --hide-btn-color: rgb(34, 135, 243);
  --upload-btn-color: #8a7fff;
  --upload-toggle-color: #756dd4;
  --new-btn-border-color: #a4aae0;
  --audio-bg-color: #cdc2ff69;
  --image-bg-color: #eeeaffc9;
  --audio-progress-color: rgba(139, 191, 255, 0.96);
  --return-parent-color: #756dd4;
  --shadow-mask: #0005;
}

.dark {
  --body-color: #202224;
  --shell-color: #171717;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --item-primary-color: #e7e5ff50;
  --item-text-color: #ccc;
  --item-border-color: #333;
  --shadow-color: rgb(103, 103, 103);
  --hide-btn-color: rgb(139, 139, 255);
  --upload-btn-color: #3a3b3c;
  --upload-toggle-color: #6d7883;
  --new-btn-border-color: #737373;
  --audio-bg-color: #b6a5ff69;
  --audio-progress-color: rgba(88, 124, 168, 0.96);
  --return-parent-color: #ffe17f;
  --image-bg-color: #a59cca;
  --shadow-mask: #fff5;
}